.cartTab{
  width:400px;
  background: white;
  color: black;
  position: fixed;
  
 
  display: grid;
  grid-template-rows: 70px 1fr 70px;

}
.cartTab h1{
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .btn{
  display:grid;
  grid-template-columns: repeat(2,1fr);
}
.cartTab .btn button{
  background-color: #337358;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
}
.cartTab .btn .close{
  background-color: aliceblue;

}
.cartTab .listCart .item img{
  width: 50%;
  height: 10px;
}
.cartTab .listCart .item{
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
gap: 10px;
text-align: center;
align-items: center;

}
.listCart .quantitiy span{
  display:inline-block;
  width: 25px;
  height: 25px;
  
}