*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
  list-style:none;
  text-decoration: none;
}
:root{
  --main-color:#bc9667;
  --second-color:#edeae3;
   --text-color:black;
   --bg-color:#fff;
   --box-shadow:2px 2px 10px 4px rgb(14 55 54/15%); 
}
section{
  padding: 50px 100px ;
}
img{
  width: 100%;
}
body{
  color:var(--text-color);
 /*perspective: 1200px;    3d effect */
}
.scroll-3d {
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform 0.15s ease-out;
}


header{
  position: sticky;
  width: 100%;
  top:0;
  right:0;
  z-index:1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  transition: 0.5s linear;
background: var(--text-color);
}
.header .shadow{
  background: var(--text-color);
  box-shadow: var(--box-shadow);
}
.logo img{
width: 100px;

}
.navbar{
  display: flex;
}
.navbar a{
  padding :8px 17px;
  color: var(--bg-color);
  font-size:1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar a:hover{
  background:var(--main-color);
  border-radius: 0.2rem;
   transition:0.2s all linear ;
}
.header-icon{
  font-size: 22px;
  cursor: pointer;
  z-index:10000;
  display: flex;
  column-gap:0.8rem;
}
.header-icon .bx{
color:var(--bg-color);
}
.header-icon .bx:hover{
color:var(--bg-color);
}
#menu-icon{
  color: var(--bg-color);
  font-size: 24px;
z-index:100001 ;
cursor:pointer;
display:none;
}
.search-box{
  position: absolute;
  top: -100%;
  left: 50%;
  transform:translate(-50%);
  background:var(--bg-color) ;
  width: 100%;
}
.search-box.active{
  top: 110%;
  box-shadow: var(--box-shadow);
  transition:0.2s all linear;
}
.search-box input{
  padding: 20px;
  border:none;
  outline:none;
  width:100%;
  font-size: 1rem;
  color:var(--main-color)
}
.search-box input::placeholder{
font-size: 1rem;
font-weight: 500;
}
.home{
  width:100%;
  min-height:100vh;
  background:url(images/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
  align-items: center;
  gap:1.5rem;
}
.home-text h1 {
  font-size: 3.4rem;
  color:var(--main-color);
  text-transform:uppercase;
  letter-spacing:1px;

}
.home-text p {
  font-size: 0.938rem;
  color: var(--bg-color);
  margin :0.5rem 0 1.4rem;
}
.btn{
  padding :10px 40px;
  border-radius: 0.3rem;
  background: var(--main-color);
  color:var(--bg-color);
  font-weight: 500;
}
.btn:hover{
  background: #8a6f4d;
}
.about-us {
  width: 80%;
  margin: auto;
}

.profile {
  display: flex;
  align-items: center;
  margin: 40px 0;
  gap: 30px;
}

.profile img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.profile .text {
  max-width: 600px;
}

/* Reverse layout for second coder */
.profile.reverse {
  flex-direction: row-reverse;
}

.heading{
  text-align:center;

}
.heading h2{
  font-size:1.8rem;
  text-transform:uppercase ;
}
.products-container{
 display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,auto));
  /*align-items: center;*/
  gap:1.5rem;
  margin-top:2rem ;
}
.products-container .box{
  position: relative;
  padding:10px;
  display:flex ;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}
.products-container img{
width: 100%;
height:350px; 
object-fit : contain;
object-position: center;
padding: 20px;
background: #f1f1f1;
border-radius: 0.5rem;
}
.products-container .box h3{
  font-size:1rem ;
  font-weight: 600 ;
  text-transform: uppercase;
  margin: 0.5rem 0 0.5rem ;
}
.products-container .box .content{
  display: flex;
  align-items: center;
  justify-content: space-around;


}
.products-container .box .content span{
 padding:0.1rem;
  color: var(--bg-color);
  background: var(--main-color);
  border-radius: 4px;
  font-weight: 500;
}
.products-container .box .content a{
 padding:0.1rem;
  color: var(--text-color);
border: 2px solid var(--main-color);
  border-radius: 4px;
 text-transform: uppercase;
}
.products-container .box .content a:hover{
  background: var(--main-color);
  color: var(--bg-color);
  transition:0.2s all linear;


}
.products .button{
    
 display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  width: 10%;
  display: block;
  margin: 40px auto;
background:var(--main-color);
 border-radius: 4px;

}
.products .button h2{
color: var(--text-color);
}
.products .button :hover{
color: var(--bg-color);
transition:0.2s all linear;
}
.pro-container{
 display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,auto));
  /*align-items: center;*/
  gap:1.5rem;
  margin-top:2rem ;
}
.pro-container .box2{
  position: relative;
  padding:10px;
  display:flex ;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}
.pro-container img{
width: 100%;
height:350px; 
object-fit : contain;
object-position: center;
padding: 20px;
background: #f1f1f1;
border-radius: 0.5rem;
}
.pro-container .box2 h3{
  font-size:1rem ;
  font-weight: 600 ;
  text-transform: uppercase;
  margin: 0.5rem 0 0.5rem ;
}
.pro-container .box2 .content2{
  display: flex;
  align-items: center;
  justify-content: space-around;


}
.pro-container .box2 .content2 span{
 padding:0.1rem;
  color: var(--bg-color);
  background: var(--main-color);
  border-radius: 4px;
  font-weight: 500;
}
.pro-container .box2 .content2 a{
 padding:0.1rem;
  color: var(--text-color);
border: 2px solid var(--main-color);
  border-radius: 4px;
 text-transform: uppercase;
}
.pro-container .box2 .content2 a:hover{
  background: var(--main-color);
  color: var(--bg-color);
  transition:0.2s all linear;


}
.ser-container{
 display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,auto));
  align-items: center;
  gap:1.5rem;
  margin-top:2rem ;
}
.ser-container .ser-box{
  position: relative;
  padding:10px;
  display:flex ;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}
.ser-container .ser-box{
  position: relative;
  padding:10px;
  display:flex ;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}
.ser-container .ser-box .content{
  display: flex;
  align-items: center;
  justify-content: space-around;


}
.ser-container .ser-box .content a{
 padding:0.1rem;
  color: var(--text-color);
border: 2px solid var(--main-color);
  border-radius: 4px;
 text-transform: uppercase;
 text-decoration:underline;
}
.ser-container .ser-box .content a:hover{
  background: var(--main-color);
  color: var(--bg-color);
  transition:0.2s all linear;


}
.ser-container .ser-box h3{
  font-size:1rem ;
  font-weight: 600 ;
 text-decoration: underline;
  margin: 0.5rem 0 0.5rem ;
}
.footer{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,auto));
  /*align-items: center;*/
  gap:1.5rem;
 /* background-color: black;
  color: #fff;*/
  background:var(--second-color);
  padding:20px;
  
}
.footer-box h2{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-decoration: underline;
}
.footer-box p{
  font-size: 0.938rem;
  margin-bottom: 10px;
}
.social{
  display:flex;
  align-items: center;
  column-gap: 0.5rem;

}
.social a .bx{
  font-size: 24px;
  color: var(--text-color);
  padding:10px;
  background-color: var(--second-color);
border-radius: 0.2rem;

}
.social a .bx:hover{
  background: var(--main-color);
  color: var(--bg-color);

}
.footer-box h3{
  font-weight: 600;
  margin-bottom: 10px;
  text-decoration: underline;


}
.footer-box li a{
  color: var(--text-color);

}
.footer-box li a:hover{
  color: var(--main-color);

}
.contact{
  display:flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.contact span{
  display: flex;
  align-items: center;
}
.contact i{
  font-size: 20px;
  margin-bottom: 1rem;

}
.copyright{
  padding:20px;
  text-align:center ;
  background:#d9d3c8;
}
@media(max-width:1058px){
 header{
  padding: 16px 60px;
 }  
 section{
  padding : 50px 60px;
 }
 .home-text h1{
  font-size:2.4rem;
 }
}
